.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;  
}
.header{
  color: white;
  background-color: #30336b;
  padding: 14px;
  width: 100%;
}
.form{
  margin-top: 20px;
}
.data{
display: flex;
flex-direction: column;
align-items: center;
 margin-top:20px;
 width: 100%;
  
}
.data_val{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 50%;
  padding: 0px 9px 0px 9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

